
.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.colonna {
    height: 50px;
}

.colonna-annidata {
    display: inline-flex;
}